
<!-- About-->
<div id="about" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div  class="text-container first">
                    <h2>Hola, bienvenido a mi portafolio</h2>
                   <!--  <h2>{{infoP.equipo.herramientas_diseno}}</h2> -->

                    <p>Soy desarrollador de software con experiencia en el diseño, desarrollo y mantenimiento de aplicaciones web y móviles.</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container second">
                    <div class="time">2022 - Actualidad</div>
                    <h6>Técnico Implentador - WebPOS S.A.</h6>
                    <p>Implementación y funcionamiento de sistemas de facturación electrónica para empresas de Pánama.</p>
                    <br>
                    <div class="time">2020- 2021</div>
                    <h6>Desarrollo Pagina Web - Servicio Técnico "Josue"</h6>
                    <p>Crear una página web donde los clientes pudieran conocer los servicios ofrecidos de manera rápida y sencilla. </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container third">
                    <div class="time">2020 - 2021</div>
                    <h6>Desarrollo Página Web - Panaderia "Reina del Cisne"</h6>
                    <p>Desarrollo de página web para aunmentar la visivilidad de la empresa en el mundo digital.</p>
                    <div class="time">2020- 2021</div>
                    <h6>Desarrollo Página Web - Don Chifle</h6>
                    <p>Crear una página web para establecer su presencia en línea y promover su nuevo emprendimiento. </p>
                </div>
                 <!-- end of text-container -->
            </div>
             <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of about -->


<!-- <!-- Services -->

<!-- end of services -->


<!-- Details -->
<div id="Details" class="split">
    <div class="area-1">
    </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
        <div class="container">    
            <div class="row">
                <div class="col-lg-12">     
                    
                    <!-- Text Container -->
                    <div class="text-container">
                        <h2>Sobre mí</h2>
                        <p>{{infoP.equipo.sobre_mi}}</p>
                        <!-- <p>Destaco por mi compromiso y diligencia en todas mis responsabilidades. Soy confiable y cumplo con los plazos y objetivos establecidos.</p> -->
                        <!-- <p>Poseo excelentes habilidades de comunicación interpersonal y me desenvuelvo de manera efectiva al interactuar con los clientes. Soy capaz de escuchar y comprender sus necesidades, brindando respuestas claras y satisfactorias.</p>
                        <p>Tengo experiencia en el trato directo con los clientes y me esfuerzo por proporcionar un servicio excepcional. Sé cómo mantener la calma en situaciones difíciles y resolver problemas de manera eficiente, siempre buscando la satisfacción del cliente.</p>
                        <p>Soy colaborativo y me adapto fácilmente a diversos entornos de trabajo. Disfruto trabajar en equipo y contribuir al logro de objetivos comunes. Mi habilidad para comunicarme de manera efectiva facilita la colaboración y la creación de relaciones positivas con mis compañeros.</p> -->
                        <h5>HERRAMIENTAS DE DISEÑO</h5>
                        <p>{{infoP.equipo.herramientas_diseno}}</p>
                        <h5>HABILIDADES DE DESARROLLO</h5>
                        <p>{{infoP.equipo.herramientas_desarrollo}}</p>
                        
                        <div class="icons-container">
                            <a ><img src="https://cdn.cdnlogo.com/logos/c/27/c.svg"></a>
                            <a ><img src="https://cdn.cdnlogo.com/logos/a/49/android.svg"></a>
                            <a><img src="https://cdn.cdnlogo.com/logos/g/69/github-icon.svg"></a>
                            <a ><img src="https://cdn.cdnlogo.com/logos/a/24/angular-icon.svg"></a>
                            <a ><img src="https://cdn.cdnlogo.com/logos/f/45/freepik.svg"></a>
                            <img src="assets/images/details-icon-html.png" alt="alternative">
                            <img src="assets/images/details-icon-css.png" alt="alternative">
                            
                            <img src="assets/images/details-icon-javascript.png" alt="alternative">
                        </div> <!-- end of icons-container -->
                    </div> <!-- end of text-container -->
                    <!-- end of text container -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of area-2 -->
</div> <!-- end of split -->
<!-- end of details -->


<!-- Projects -->
<div id="proyectos" class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Proyectos Desarrollados</h2>
                
                <p class="p-heading">A continuación, se enumeran algunos proyectos realizados en los que he trabajado, Van desde el diseño web básico para locales comerciales hasta un desarrollo web para un control de inventario, todos ellos en linea.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="text-align: center;">
        <img src="\assets\images\chifle2.png" >
        <br>
        <br>
        <p style="text-align: left;"><strong>Empresa:</strong> Chifleria "Don Chifle", <strong>Proyecto:</strong> Desarrollé de una página web que permite a los clientes explorar productos de manera conveniente, de esta forma aunmentar su producción y popularidad.  <!-- <a class="blue" href="project.html">details</a> --></p>
      </div>
      <div class="carousel-item" style="text-align: center;">
        <img src="\assets\images\papeleria23.png"  >
        <br>
        <br>
        <p style="text-align: left;"><strong>Empresa:</strong> Instituto Tecnológico Universitario  Cordillera, <strong>Proyecto:</strong> Para llevar acabo mi titulación desarrolle una página web para una Papelería. Como objetivo del proyecto es mejorar el control de inventario y acceso a la información de los mismos. <!-- <a class="blue" href="project.html">details</a> --></p>
      </div>
      <div class="carousel-item" style="text-align: center;">
        <img src="\assets\images\panaderia3.png"  >
        <br>
        <br>
        <p style="text-align: left;"><strong>Empresa:</strong> Panadería "Reina del Cisne", <strong>Proyecto:</strong> Tuve la oportunidad de desarrollar una página web para una panadería local. Dada la creciente importancia de la presencia en línea para los negocios, decidí tomar este proyecto como una oportunidad para ayudar a la panadería a expandir su alcance y aumentar su visibilidad en el mundo digital. <!-- <a class="blue" href="project.html">details</a> --></p>
      </div>
      <div class="carousel-item" style="text-align: center;">
        <img src="\assets\images\serviciotecnico3.png" >
        <br>
        <br>
        <p style="text-align: left;"><strong>Empresa:</strong> Servicio Técnico "Josue", <strong>Proyecto:</strong> Desarrollé una página web para un local de servicio técnico con el objetivo de ofrecer a los clientes una plataforma en línea fácil de usar y accesible. La página cuenta con información clara sobre los servicios ofrecidos y el equipo técnico. Incluí un formulario de contacto para facilitar la comunicación con los clientes. <!-- <a class="blue" href="project.html">details</a> --></p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of projects -->

<!-- Works -->
<div id="certificados" class="container" class="basic-3">
    <br>
    <div class="row" >
        <div class="col-lg-12">
            <h1 class="h2-heading">Cursos y Certificados </h1>  
        </div> 
    <div>
        <!-- end of col -->
</div> <!-- end of row -->
<br>
<div class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">
                        <a href="project.html">
                            <img class="img-fluid" src="assets/images/logoscrum.png" alt="alternative">
                           
                        </a>
                    </div> <!-- end of image-container -->
                    <p> <strong>SCRUMstudy</strong> 
                        <p style="text-align: left">{{ infoP.certificado.curso3 }}</p>
                      <a
                        class="btn btn-primary"
                        href="{{ infoP.certificado.cert3 }}"
                        target="_blank"
                        role="button"
                        >Certificado</a
                      >
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">
                        <a href="project.html">
                            <img class="img-fluid" src="/assets/images/udemy2.png" alt="alternative">
                        </a>
                    </div> <!-- end of image-container -->
                    <p> <strong>UDEMY</strong> 
                        <p style="text-align: left">{{ infoP.certificado.curso2 }}</p>
                      <a
                        class="btn btn-primary"
                        href="{{ infoP.certificado.cert2 }}"
                        target="_blank"
                        role="button"
                        >Certificado</a
                      >
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">
                        <a href="project.html">
                            <img class="img-fluid" src="/assets/images/platzi.png" alt="alternative">
                        </a>
                    </div> <!-- end of image-container -->
                    <p> <strong>Platzi</strong> 
                        <p style="text-align: left">{{ infoP.certificado.curso1 }}</p>
                      <a
                        class="btn btn-primary"
                        href="{{ infoP.certificado.cert1 }}"
                        target="_blank"
                        role="button"
                        >Certificado</a
                      >
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">
                        <a href="project.html">
                            <img class="img-fluid" src="/assets/images/platzi.png" alt="alternative">
                        </a>
                    </div> <!-- end of image-container -->
                    <p><p> <strong>Platzi</strong> 
                        <p style="text-align: left">{{ infoP.certificado.curso6 }}</p>
                      <a
                        class="btn btn-primary"
                        href="{{ infoP.certificado.cert6 }}"
                        target="_blank"
                        role="button"
                        >Certificado</a
                      >
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">
                        <a href="project.html">
                            <img class="img-fluid" src="/assets/images/platzi.png" alt="alternative">
                        </a>
                    </div> <!-- end of image-container -->
                    <p> <strong>Platzi</strong> 
                        <p style="text-align: left">{{ infoP.certificado.curso5}}</p>
                      <a
                        class="btn btn-primary"
                        href="{{ infoP.certificado.cert5 }}"
                        target="_blank"
                        role="button"
                        >Certificado</a
                      >
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">
                        <a href="project.html">
                            <img class="img-fluid" src="/assets/images/platzi.png" alt="alternative">
                        </a>
                    </div> <!-- end of image-container -->
                    <p> <strong>Platzi</strong> 
                        <p style="text-align: left">{{ infoP.certificado.curso4}}</p>
                      <a
                        class="btn btn-primary"
                        href="{{ infoP.certificado.cert4 }}"
                        target="_blank"
                        role="button"
                        >Certificado</a
                      >
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->

            
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of works -->
